<div class="page-header">
  <h2 class="page-title">
    {{ 'ACCOUNT.ADMIN.LOGS.TEXT_PAGE_TITLE' | translate }}
  </h2>
</div>
<div class="page-actions">
  <div class="logs-tabs">
    <btn
      class="logs-tabs-button"
      [variant]="(activeTab$ | async) === 'system' ? 'primary' : 'ghost'"
      (click)="tabChanged('system')">
      {{ 'ACCOUNT.ADMIN.LOGS.TEXT_TAB_SYSTEM' | translate }}
    </btn>
    <btn
      class="logs-tabs-button"
      [variant]="(activeTab$ | async) === 'parsing' ? 'primary' : 'ghost'"
      (click)="tabChanged('parsing')">
      {{ 'ACCOUNT.ADMIN.LOGS.TEXT_TAB_PARSING' | translate }}
    </btn>
  </div>
</div>
