<form
  *ngrxLet="formState$; let formState"
  [ngrxFormState]="formState"
  (submit)="formSubmitted()"
  (ngrxFormsAction)="formActionTriggered($event)"
  class="form">
  <form-text
    [controlState]="formState.controls.name"
    [validationMessages]="{
      trimmedRequired: 'ACCOUNT.PROFILE.ERRORS.TEXT_NAME_IS_REQUIRED' | translate
    }"
    (controlStateActionTriggered)="formActionTriggered($event)"
    label="{{ 'ACCOUNT.PROFILE.TEXT_NAME' | translate }}">
  </form-text>
  <form-text
    [controlState]="formState.controls.email"
    [validationMessages]="{
      trimmedRequired: 'ACCOUNT.PROFILE.ERRORS.TEXT_EMAIL_IS_REQUIRED' | translate
    }"
    (controlStateActionTriggered)="formActionTriggered($event)"
    label="{{ 'ACCOUNT.PROFILE.TEXT_EMAIL' | translate }}">
  </form-text>
  <ng-container *ngrxLet="isPasswordBlockVisible$; let isPasswordBlockVisible">
    <div class="password-actions">
      <a
        (click)="passwordBlockVisibilityToggleClicked(!isPasswordBlockVisible)"
        class="password-action">
        {{ 'ACCOUNT.PROFILE.TEXT_CHANGE_PASSWORD' | translate }}
      </a>
    </div>
    <div *ngIf="isPasswordBlockVisible" [@heightCollapse]>
      <form-text
        [controlState]="formState.controls.oldPassword"
        [validationMessages]="{
          trimmedRequired: 'ACCOUNT.PROFILE.ERRORS.TEXT_CURRENT_PASSWORD_IS_REQUIRED' | translate
        }"
        (controlStateActionTriggered)="formActionTriggered($event)"
        type="password"
        autocomplete="current-password"
        label="{{ 'ACCOUNT.PROFILE.TEXT_CURRENT_PASSWORD' | translate }}">
      </form-text>
      <form-text
        [controlState]="formState.controls.password"
        [validationMessages]="{
          trimmedRequired: 'ACCOUNT.PROFILE.ERRORS.TEXT_PASSWORD_IS_REQUIRED' | translate,
          minLength: 'ACCOUNT.PROFILE.ERRORS.TEXT_PASSWORD_MIN_LENGTH' | translate: { min: 8 },
          containDigit: 'ACCOUNT.PROFILE.ERRORS.TEXT_PASSWORD_MUST_CONTAIN_DIGIT' | translate
        }"
        (controlStateActionTriggered)="formActionTriggered($event)"
        type="password"
        autocomplete="new-password"
        label="{{ 'ACCOUNT.PROFILE.TEXT_NEW_PASSWORD' | translate }}">
      </form-text>
      <form-text
        [controlState]="formState.controls.passwordConfirmation"
        [validationMessages]="{
          trimmedRequired: 'ACCOUNT.PROFILE.ERRORS.TEXT_PASSWORD_CONFIRMATION_IS_REQUIRED' | translate,
          equalTo: 'ACCOUNT.PROFILE.ERRORS.TEXT_PASSWORD_CONFIRMATION_SHOULD_MATCH' | translate
        }"
        (controlStateActionTriggered)="formActionTriggered($event)"
        type="password"
        label="{{ 'ACCOUNT.PROFILE.TEXT_PASSWORD_CONFIRMATION' | translate }}">
      </form-text>
    </div>
  </ng-container>
  <div *ngrxLet="isSubmitting$; let isSubmitting" class="page-buttons">
    <btn
      [isLoading]="isSubmitting"
      [isDisabled]="formState.isPristine"
      [isBlock]="true"
      type="submit">
      {{ 'ACCOUNT.PROFILE.BUTTON_SAVE' | translate }}
    </btn>
  </div>
</form>
