<section
  [isNoContent]="!schedules?.length"
  name="{{ 'ACCOUNT.JOBS.VIEW.TEXT_ENGINEERS' | translate }}">
  <span ngProjectAs="section-icon" class="icon icon-employees icon-mask icon-mask-dark-blue"></span>
  <div class="jobview-schedules">
    <div class="table">
      <jobs-view-engineers-items-header></jobs-view-engineers-items-header>
      <div class="table-content">
        <jobs-view-engineers-item
          *ngFor="let item of schedules; trackByProperty: 'id'"
          [item]="item">
        </jobs-view-engineers-item>
      </div>
    </div>
  </div>
</section>
