<div class="table-row">
  <div class="table-cell templates-template-name">
    {{ template.label }}
  </div>
  <div class="table-cell templates-template-upload">
    <a
      class="table-action"
      (click)="onUploadClicked(template)">
      <span class="icon icon-upload icon-mask icon-mask-primary icon-small"></span>
      {{ 'ACCOUNT.TEMPLATES.CATEGORY.BUTTON_UPLOAD' | translate }}
    </a>
  </div>
  <div class="table-cell templates-template-download">
    <a
      class="table-action"
      (click)="onDownloadClicked(template)">
      <span class="icon icon-download icon-mask icon-mask-primary icon-small"></span>
      {{ 'ACCOUNT.TEMPLATES.CATEGORY.BUTTON_DOWNLOAD' | translate }}
    </a>
  </div>
</div>
