<ng-template
  #defaultTemplate
  let-hasTriggerIcon="hasTriggerIcon"
  let-placeholder="placeholder">
  <a
    class="dropdown-trigger dropdown-trigger-placeholder"
    [ngClass]="{ 'dropdown-trigger-show-selected': showSelectedTags && (selectedValues$ | async)?.length > 0 }">
    @if (showSelectedTags && (selectedValues$ | async)?.length > 0) {
      <div class="selected-tags">
        @for (value of selectedValues$ | async; track value) {
          <span class="selected-tags-item">
            <span>{{ getOptionTitle(value) }}</span>
            <span
              class="selected-tags-item-remove"
              (click)="removeTag($event, value)"></span>
          </span>
        }
      </div>
    } @else {
      <span class="placeholder-text">{{ placeholder }}</span>
    }
    @if (hasTriggerIcon) {
      <span class="dropdown-trigger-icon"></span>
    }
  </a>
</ng-template>
<ng-template
  [ngTemplateOutlet]="customTemplate || defaultTemplate"
  [ngTemplateOutletContext]="{
    hasTriggerIcon: hasTriggerIcon,
    placeholder: placeholder
  }">
</ng-template>
