@use 'vars' as *;

:host ::ng-deep .forgot {
  .page-title {margin-bottom: 2.2rem;}
  .form-error {padding-top: 0;}
  &-message {margin-bottom: 24px; line-height: 22px; text-align: center;
    &-sent {margin: 76px 0 64px;}
  }
}
