<ng-container *ngIf="'ACCOUNT.DASHBOARD.' as translations">
  <div class="row">
    <div class="col col-33">
      <dashboard-statistic-link
        route="/account/sites"
        name="{{ translations + 'LINK_SITES' | translate }}">
        <span ngProjectAs="icon" class="icon icon-location-big icon-mask icon-mask-big icon-mask-dark-blue"></span>
      </dashboard-statistic-link>
    </div>
    <div class="col col-33">
      <dashboard-statistic-link
        route="/account/assets"
        name="{{ translations + 'LINK_ASSETS' | translate }}">
        <span ngProjectAs="icon" class="icon icon-assets-big icon-mask icon-mask-big icon-mask-dark-blue"></span>
      </dashboard-statistic-link>
    </div>
    <div class="col col-33">
      <dashboard-statistic-link
        route="/account/documents"
        name="{{ translations + 'LINK_DOCUMENTS' | translate }}">
        <span ngProjectAs="icon" class="icon icon-attachment-big icon-mask icon-mask-big icon-mask-dark-blue"></span>
      </dashboard-statistic-link>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
      <dashboard-statistic-link
        route="/account/reports/service-control"
        name="{{ translations + 'LINK_SERVICE_CONTROL_REPORT' | translate }}">
        <span ngProjectAs="icon" class="icon icon-report-big icon-mask icon-mask-big icon-mask-dark-blue"></span>
      </dashboard-statistic-link>
    </div>
    <div class="col col-50">
      <dashboard-statistic-link
        route="/account/reports/kpi"
        name="{{ translations + 'LINK_KPI_REPORT' | translate }}">
        <span ngProjectAs="icon" class="icon icon-kpi-report-big icon-mask icon-mask-big icon-mask-dark-blue"></span>
      </dashboard-statistic-link>
    </div>
  </div>
</ng-container>
