:host .templates .page-header {
  margin-bottom: 32px;

  .page-title {font-family: 'Montserrat', sans-serif; font-weight: 700;
    font-size: 36px; line-height: 1.22; color: #130c3d; margin: 0;
  }
}
