<table-container
  *ngrxLet="items$; let items"
  [isLoading]="isLoading$ | async"
  [isLoadingToPage]="isLoadingToPage$ | async"
  [itemsCount]="items.length"
  [hasMoreItems]="hasMoreItems$ | async"
  (loadNextPage)="loadNextPageClicked()">
  <div class="table">
    <admin-documents-items-header></admin-documents-items-header>
    <div class="table-content">
      <admin-documents-item
        *ngFor="let item of items; trackByProperty: 'id'"
        [item]="item"
        [@heightCollapse]
        (deletingSuccess)="itemDeleted($event)">
      </admin-documents-item>
    </div>
  </div>
</table-container>
