<div class="form-group">
  @if (label) {
    <label class="form-label"> {{ label }} </label>
  }
  <textarea
    [ngrxFormControlState]="controlState"
    [placeholder]="placeholder"
    [ngClass]="{
      'form-control-error': controlState.isSubmitted && controlState.isInvalid
    }"
    (ngrxFormsAction)="controlStateActionTriggered.emit($event)"
    class="form-control">
  </textarea>
  @if (controlState.isSubmitted && controlState.isInvalid) {
    <validation-errors
      [controlErrors]="controlState.errors"
      [messages]="validationMessages">
    </validation-errors>
  }
</div>
