<div class="form-group">
  <label *ngIf="label" class="form-label">
    {{ label }}
  </label>
  <input
    [ngrxFormControlState]="controlState"
    [type]="type"
    [autocomplete]="autocomplete"
    [placeholder]="placeholder"
    [imask]="mask"
    [ngClass]="{
      'form-control-error': controlState.isSubmitted && controlState.isInvalid
    }"
    (ngrxFormsAction)="controlStateActionTriggered.emit($event)"
    class="form-control">
  <div *ngIf="description" class="form-helper form-helper-info">{{ description }}</div>
  <validation-errors
    *ngIf="controlState.isSubmitted && controlState.isInvalid"
    [controlErrors]="controlState.errors"
    [messages]="validationMessages">
  </validation-errors>
</div>
