<div class="form-group">
  @if (label) {
    <label class="form-label"> {{ label }} </label>
  }
  <input
    [ngrxFormControlState]="controlState"
    [type]="type"
    [autocomplete]="autocomplete"
    [placeholder]="placeholder"
    [imask]="mask"
    [ngClass]="{
      'form-control-error': controlState.isSubmitted && controlState.isInvalid
    }"
    (ngrxFormsAction)="controlStateActionTriggered.emit($event)"
    class="form-control"
    />
    @if (description) {
      <div class="form-helper form-helper-info">
        {{ description }}
      </div>
    }
    @if (controlState.isSubmitted && controlState.isInvalid) {
      <validation-errors
        [controlErrors]="controlState.errors"
        [messages]="validationMessages"
        >
      </validation-errors>
    }
  </div>
