<div *ngrxLet="isUploading$; let isUploading" class="form-group">
  <div *ngrxLet="image$; let image" class="imageuploader">
    <div
      [multiple]="false"
      [accept]="acceptingFiles"
      [disabled]="controlState.isDisabled"
      [ngClass]="{
        'imageuploader-area-error': controlState.isSubmitted && controlState.isInvalid
      }"
      (change)="fileSelected($event)"
      class="imageuploader-area"
      ngx-dropzone>
      @if (isUploading) {
        <span [progress]="progress$ | async" class="imageuploader-progress-bar" progressBar></span>
        <span class="imageuploader-thumbnail">
          <loading-spinner [diameter]="spinnerDiameter.SMALL"></loading-spinner>
        </span>
        <span class="imageuploader-uploading">{{ 'SHARED.IMAGE_UPLOADER.TEXT_UPLOADING' | translate }}</span>
      } @else {
        @if (controlState.value) {
          <span class="imageuploader-name">{{ image?.name }}</span>
        } @else {
          <div class="imageuploader-placeholder">
            <span class="imageuploader-icon"></span>
            <span>{{ placeholder || ('SHARED.IMAGE_UPLOADER.TEXT_PLACEHOLDER' | translate) }}</span>
          </div>
        }
      }
    </div>
    <div class="imageuploader-info">
      <span>{{ extensionRequirements }}</span>
      @if (maxFileSize) {
        <span>
          {{ 'SHARED.IMAGE_UPLOADER.TEXT_MAX_SIZE' | translate: { size: maxFileSize | filesize: fileSizeConfigs } }}
        </span>
      }
    </div>
  </div>
  @if (controlState.isSubmitted && controlState.isInvalid) {
    <validation-errors
      [controlErrors]="controlState.errors"
      [messages]="validationMessages">
    </validation-errors>
  }
</div>
