@if (label) {
  <label class="form-label"> {{ label }} </label>
}
@if (!(isDisabled$ | async) && !isManuallyDisabled) {
  <div
    [class.dropdown-left]="position === 'left'"
    [class.dropdown-right]="position === 'right'"
    (opened)="dropdownToggleOpened($event)"
    class="dropdown custom-select"
    dropdown>
    <custom-select-trigger
      [customTemplate]="triggerTemplate"
      [selectedOption]="selectedOption$ | async"
      [hasTriggerIcon]="hasTriggerIcon"
      [placeholder]="placeholder"
      [isPermanentlyShowPlaceholder]="isPermanentlyShowPlaceholder"
      (firstClick)="triggerFirstClicked()">
    </custom-select-trigger>
    <div
      [ngClass]="{ 'dropdown-content-scrollable': hasScroll }"
      class="dropdown-content">
      @if (hasFilter) {
        <custom-select-filter #filter></custom-select-filter>
      }
      <div
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        [infiniteScrollDisabled]="isLoading || !hasNextItems"
        [ngClass]="{ 'dropdown-scroll': hasScroll }"
        (scrolled)="scrolled()"
        infiniteScroll>
        <div
          *ngrxLet="options$; let options"
          class="dropdown-items">
          @for (option of options; track option) {
            <custom-select-option
              (optionClick)="optionClicked(option)"
              [option]="option"
              [customTemplate]="optionTemplate">
            </custom-select-option>
          }
          @if (!options?.length && !isLoading) {
            <custom-select-not-found [customTemplate]="notFoundTemplate"> </custom-select-not-found>
          }
          @if (isLoading) {
            <div class="dropdown-item disabled">
              <loading-spinner [diameter]="spinnerDiameter.SMALL"></loading-spinner>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="dropdown custom-select disabled">
    <a class="dropdown-trigger">
      <span class="dropdown-trigger-placeholder">{{ (selectedOption$ | async)?.title || placeholder }}</span>
      @if (hasTriggerIcon) {
        <span class="dropdown-trigger-icon"></span>
      }
    </a>
  </div>
}
<ng-container *ngrxLet="controlState$; let controlState">
  @if (controlState.isSubmitted && controlState.isInvalid) {
    <validation-errors
      [controlErrors]="controlState.errors"
      [messages]="validationMessages">
    </validation-errors>
  }
</ng-container>
