<table-container
  *ngrxLet="items$; let items"
  [isLoading]="isLoading$ | async"
  [itemsCount]="items.length">
  <div class="table">
    <admin-logs-system-logs-header></admin-logs-system-logs-header>
    <div class="table-content">
      @for (
        item of items
          | paginate
            : {
                id: paginationId$ | async,
                itemsPerPage: perPage$ | async,
                currentPage: currentPage$ | async,
                totalItems: totalItems$ | async
              };
        track item
      ) {
        <div
          [@heightCollapse]
          class="table-content-row">
          <admin-logs-system-logs-item
            [item]="item"
            (openLettersClicked)="onOpenLettersClicked($event)">
          </admin-logs-system-logs-item>
        </div>
      }
    </div>
    @if (hasPagination$ | async) {
      <pagination-elements
        [paginationId]="paginationId$ | async"
        (pageChanged)="pageChanged($event)">
      </pagination-elements>
    }
  </div>
</table-container>
