<div class="table-row">
  <div class="table-cell adminusers-name">{{ item.name }}</div>
  <div class="table-cell adminusers-email">
    <a href="mailto:{{ item.email }}" target="_blank">{{ item.email }}</a>
  </div>
  <div class="table-cell adminusers-customer">
    <!-- <div
      *ngFor="let group of item.groups; trackByProperty: 'id'"
      [title]="group.simproCustomer.name"
      class="adminusers-customer-title">
      {{ group.simproCustomer.name }}
    </div> -->
  </div>
  <div class="table-cell adminusers-permission">
    <!-- <div
      *ngFor="let group of item.groups; trackByProperty: 'id'"
      [title]="group.title"
      class="adminusers-group-title">
      {{ group.title }}
    </div> -->
  </div>
  <div class="table-cell adminusers-actions">
    <ng-container *ngIf="!(isSendingRequest$ | async); else sendingRequest">
      <a (click)="editButtonClicked()" class="table-action">{{ 'ACCOUNT.ADMIN.USERS.LINK_EDIT' | translate }}</a>
      <a (click)="resendInvitationEmailButtonClicked()" class="table-action table-action-info">{{ 'ACCOUNT.ADMIN.USERS.LINK_RESEND' | translate }}</a>
      <a (click)="deleteButtonClicked()" class="table-action table-action-caution">
        {{ 'ACCOUNT.ADMIN.USERS.LINK_DELETE' | translate }}
      </a>
    </ng-container>
    <ng-template #sendingRequest>
      <loading-spinner [diameter]="spinnerDiameter.SMALL"></loading-spinner>
    </ng-template>
  </div>
</div>
