@import 'vars';

:host ::ng-deep .kpi {
  &-status {flex: 0 0 70px; min-width: 70px;
    &-ontime {color: $complete;}
    &-late {color: $error;}
  }
  &-uprn {flex: 0 0 100px; min-width: 100px;}
  &-id {flex: 0 0 70px; min-width: 70px;}
  &-order {flex: 0 0 100px; min-width: 100px;}
  &-description {flex: 1 1 200px; min-width: 200px;}
  &-response {flex: 0 0 180px; min-width: 180px;}
  &-address {flex: 0 0 200px; min-width: 200px; white-space: pre-line;}
  &-calldate {flex: 0 0 140px; min-width: 140px;}
  &-targetdate {flex: 0 0 140px; min-width: 140px;}
  &-madesafe {flex: 0 0 140px; min-width: 140px;}
  &-completed {flex: 0 0 140px; min-width: 140px;}
  &-filters {margin-bottom: 28px;
    .form-group {margin-bottom: 4px;}
  }
}
