@import 'vars';

:host ::ng-deep .jobs {
  &-icon {flex: 0 0 35px; min-width: 35px;
    &-action {position: relative; top: -6px; opacity: 0.6;
      &:hover {opacity: 1;}
    }
  }
  &-description {flex: 0 0 135px; min-width: 135px; font-size: $small; font-weight: 600;}
  &-title {flex: 0 0 135px; min-width: 135px;
    &-created {color: $gray; font-size: $small;}
  }
  &-order {flex: 1 1 100px; min-width: 100px;}
  &-name {flex: 1 1 140px; min-width: 140px;}
  &-customer {flex: 1 1 160px; min-width: 160px;}
  &-uprn {flex: 1 1 120px; min-width: 120px;}
  &-sitename {flex: 1 1 180px; min-width: 180px;}
  &-postalcode {flex: 1 1 100px; min-width: 100px;}
  &-cost {flex: 1 1 120px; min-width: 120px;}
  &-priority {flex: 1 1 160px; min-width: 160px;}
  &-stage {flex: 1 1 90px; min-width: 90px;}
  &-status {flex: 1 1 180px; min-width: 180px;}
  &-madesafe {flex: 1 1 120px; min-width: 120px;
    &-completed {color: $complete;}
  }
  &-completion {flex: 1 1 130px; min-width: 130px;}
  &-due {flex: 1 1 120px; min-width: 120px;}
  &-appointment {flex: 1 1 120px; min-width: 120px;}
  &-attachments {flex: 1 1 100px; min-width: 100px;}
  &-filters {margin-bottom: 28px;
    .form-group {margin-bottom: 4px;}
  }
  .table-cell .loading-spinner {margin: 0 auto;}
  .form-group-timepicker {max-width: 130px;}
  .badge {
    &-pending {background-color: $light-yellow; color: $dark-yellow;}
    &-complete {background-color: $light-green; color: $dark-green;}
    &-archived {background-color: $light-red; color: $dark-red;}
  }
}
