/* fonts */
$font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-title: 'Montserrat', Helvetica, Arial, sans-serif;

/* colors */
$primary: #35a9e1;
$primary-light: #E3F2FB;
$primary-dark: #053452;
$brand-dark: #00385C;
$text-main: #022840;
$link: #1fa7da;
$error: #ec5b5b;
$disabled: #c4c9ce;

$green: #4AD280;
$red: #F43428;
$yellow: #d39b48;
$white: #fff;
$dark-gray: #666666;
$gray: #919191;
$light-gray: #999999;
$lighter-gray: #f2f2f2;
$lightest-gray: #f4f4f6;
$bg: #E5E5E5;

/* font-sizes */
$default: 15px;
$tiny: 0.67rem;
$small: 0.86rem;
$middle: 1.066rem;
$big: 1.2rem;
$large: 1.6rem;
$title: 2.4rem;
$huge: 2.93rem;

/* shadows */
$box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);

/* layout */
$account-sidebar-width: 200px;
