<table-container
  *ngrxLet="items$; let items"
  [isLoading]="isLoading$ | async"
  [isLoadingToPage]="isLoadingToPage$ | async"
  [itemsCount]="items?.length"
  [hasMoreItems]="hasMoreItems$ | async"
  (loadNextPage)="loadNextPageClicked()">
  <div class="table">
    <account-admin-users-items-header></account-admin-users-items-header>
    <div class="table-content">
      <account-admin-users-item
        *ngFor="let item of items; trackByProperty: 'id'"
        [item]="item"
        [@heightCollapse]
        (deletingSuccess)="itemDeleted($event)">
      </account-admin-users-item>
    </div>
  </div>
</table-container>
