@use 'vars' as *;

:host ::ng-deep .general {
  &-date {flex: 1 1 200px; min-width: 200px;}
  &-type {flex: 2 1 300px; min-width: 300px;}
  &-filename {flex: 2 1 400px; min-width: 400px;}
  &-actions {flex: 0 0 80px; min-width: 80px;}
}
