<div class="assets-filters">
  <div class="filters">
    <form
      *ngrxLet="filterFormState$; let filterFormState"
      [ngrxFormState]="filterFormState"
      (ngrxFormActions)="formActionTriggered($event)"
      class="form">
      <filter-select-text
        [controlState]="filterFormState.controls.assetID"
        (controlStateActionTriggered)="formActionTriggered($event)"
        type="number"
        min="1"
        name="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_ASSET_ID' | translate }}">
      </filter-select-text>
      <account-customer-select
        [controlState]="filterFormState.controls.simproCustomerID"
        [isPermanentlyShowPlaceholder]="true"
        (selectedCustomerChanged)="selectedCustomerChanged($event)"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_CUSTOMER' | translate }}">
      </account-customer-select>
      <filter-select-text
        [controlState]="filterFormState.controls.siteUprn"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_SITE_UPRN' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.siteName"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_SITE_NAME' | translate }}">
      </filter-select-text>
      <!-- <account-custom-asset-type-multiselect
        [controlState]="filterFormState.controls.customAssetTypeValue"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_ASSET_NAME' | translate }}">
      </account-custom-asset-type-multiselect> -->
      <account-asset-name-multiselect
        [controlState]="filterFormState.controls.names"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_ASSET_NAME' | translate }}">
      </account-asset-name-multiselect>
      <filter-select-text
        [controlState]="filterFormState.controls.location"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_LOCATION' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.make"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_MAKE' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.model"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_MODEL' | translate }}">
      </filter-select-text>
      <existence-select
        [controlState]="filterFormState.controls.archived"
        [isPermanentlyShowPlaceholder]="true"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_ARCHIVED' | translate }}">
      </existence-select>
      <account-asset-test-result-select
        [controlState]="filterFormState.controls.lastTestResult"
        [isPermanentlyShowPlaceholder]="true"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_LAST_TEST_RESULT' | translate }}">
      </account-asset-test-result-select>
      <account-asset-service-level-multiselect
        [controlState]="filterFormState.controls.serviceLevelNames"
        [isPermanentlyShowPlaceholder]="true"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_SERVICE_LEVEL' | translate }}">
      </account-asset-service-level-multiselect>
      <form-datepicker
        [controlState]="filterFormState.controls.lastTestDateFrom"
        [dateFilter]="getStartLastTestDateFilter$ | async"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_LAST_TEST_DATE_FROM' | translate }}">
      </form-datepicker>
      <form-datepicker
        [controlState]="filterFormState.controls.lastTestDateTo"
        [dateFilter]="getEndLastTestDateFilter$ | async"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_LAST_TEST_DATE_TO' | translate }}">
      </form-datepicker>
      <form-datepicker
        [controlState]="filterFormState.controls.nextServiceDateFrom"
        [dateFilter]="getStartNextServiceDateFilter$ | async"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_NEXT_SERVICE_DATE_FROM' | translate }}">
      </form-datepicker>
      <form-datepicker
        [controlState]="filterFormState.controls.nextServiceDateTo"
        [dateFilter]="getEndNextServiceDateFilter$ | async"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.ASSETS.FILTERS.TEXT_NEXT_SERVICE_DATE_TO' | translate }}">
      </form-datepicker>
    </form>
  </div>
  <filter-values
    [items]="filterValues$ | async"
    (filterRemoved)="removeFilterClicked($event)">
  </filter-values>
</div>
