<div [ngClass]="{ disabled: controlState?.isDisabled || isDisabled }" class="checkbox">
  <label>
    @if (controlState) {
      <input
        [ngrxFormControlState]="controlState"
        (ngrxFormsAction)="controlStateActionTriggered.emit($event)"
        type="checkbox">
        <span class="checkbox-icon"></span>
        @if (label) {
          <span class="checkbox-title">{{ label }}</span>
        }
      } @else {
        <a (click)="toggleClicked.emit()">
          <input [checked]="isChecked" type="checkbox">
          <span class="checkbox-icon"></span>
          @if (label) {
            <span class="checkbox-title">{{ label }}</span>
          }
        </a>
      }
    </label>
  </div>
