<div class="table-row">
  <div class="table-cell sites-customer">{{ item.customer?.name }}</div>
  <div class="table-cell sites-name">
    <a [routerLink]="['/account/sites', item.id]">{{ item.name }}</a>
  </div>
  <div class="table-cell sites-uprn">{{ item.uprn }}</div>
  <div class="table-cell sites-address">{{ item.address }}</div>
  <div class="table-cell sites-postcode">{{ item.postalCode }}</div>
  <div class="table-cell sites-contact">{{ item.primaryContact?.name }}</div>
  <div class="table-cell sites-jobs">
    @if (item.openJobsCount) {
      <a
        routerLink="/account/jobs"
        [queryParams]="{
          siteID: item.id,
          stage: [jobStage.PENDING, jobStage.PROGRESS]
        }">
        {{ item.openJobsCount }}
      </a>
    } @else {
      0
    }
  </div>
</div>
