<table-container
  *ngrxLet="items$; let items"
  [itemsCount]="items.length">
  <div class="table">
    <account-site-contacts-items-header></account-site-contacts-items-header>
    <div class="table-content">
      @for (item of items; track item) {
        <div
          [@heightCollapse]
          class="table-content-row">
          <account-site-contacts-item
            [item]="item"
            (deletingSuccess)="itemDeleted($event)">
          </account-site-contacts-item>
        </div>
      }
    </div>
  </div>
</table-container>
