<div class="sites-filters">
  <div class="filters">
    <form
      *ngrxLet="filterFormState$; let filterFormState"
      [ngrxFormState]="filterFormState"
      (ngrxFormActions)="formActionTriggered($event)"
      class="form">
      <account-customer-select
        [controlState]="filterFormState.controls.customerID"
        [isPermanentlyShowPlaceholder]="true"
        (selectedCustomerChanged)="selectedCustomerChanged($event)"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.SITES.FILTERS.TEXT_CUSTOMER' | translate }}">
      </account-customer-select>
      <filter-select-text
        [controlState]="filterFormState.controls.name"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.SITES.FILTERS.TEXT_SITE_NAME' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.uprn"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.SITES.FILTERS.TEXT_SITE_UPRN' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.query"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.SITES.FILTERS.TEXT_ADDRESS' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.postalCode"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.SITES.FILTERS.TEXT_POSTCODE' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.primaryContactQuery"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.SITES.FILTERS.TEXT_CONTACT' | translate }}">
      </filter-select-text>
      <existence-select
        [controlState]="filterFormState.controls.hasOpenJobs"
        [isPermanentlyShowPlaceholder]="true"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.SITES.FILTERS.TEXT_OPEN_JOBS' | translate }}">
      </existence-select>
    </form>
  </div>
  <filter-values
    [items]="filterValues$ | async"
    (filterRemoved)="removeFilterClicked($event)">
  </filter-values>
</div>
