@use 'vars' as *;

:host ::ng-deep .servicecontrol {
  &-uprn {flex: 0 0 120px; min-width: 120px;}
  &-assetid {flex: 0 0 120px; min-width: 120px;}
  &-orderno {flex: 0 0 120px; min-width: 120px;}
  &-customer {flex: 1 1 160px; min-width: 160px;}
  &-sitename {flex: 1 1 160px; min-width: 160px;}
  &-siteaddress {flex: 0 0 140px; min-width: 140px;}
  &-sitecontact {flex: 0 0 140px; min-width: 140px;}
  &-completiondate {flex: 0 0 140px; min-width: 140px;}
  &-cp2date {flex: 0 0 130px; min-width: 130px;}
  &-nextservicedate {flex: 0 0 180px; min-width: 180px;}
  &-noaccess {flex: 0 0 140px; min-width: 140px;}
  &-nextscheduled {flex: 0 0 160px; min-width: 160px;}
  &-status {flex: 1 1 180px; min-width: 180px;}
  &-jobnumber {flex: 0 0 120px; min-width: 120px;}
  &-filters {margin-bottom: 28px;
    .form-group {margin-bottom: 4px;}
  }
  &-row {
    &-overdue {color: $bright-red;}
    &-due {color: $bright-yellow;}
    &-ontime {color: $bright-green;}
  }
}
