<div *ngrxLet="site$; let site" class="page siteview">
  <sites-view-header></sites-view-header>
  <loading-spinner
    *ngIf="isLoading$ | async; else details"
    [diameter]="spinnerDiameter.HUGE">
  </loading-spinner>
  <ng-template #details>
    <sites-view-form></sites-view-form>
    <account-site-contacts
      [siteID]="site.id"
      [items]="contacts$ | async"
      (contactCreated)="contactCreated($event)"
      (contactUpdated)="contactUpdated($event)"
      (contactDeleted)="contactDeleted($event)">
    </account-site-contacts>
  </ng-template>
</div>
