<div *ngrxLet="site$; let site" class="page siteview">
  <sites-view-header></sites-view-header>
  @if (isLoading$ | async) {
    <loading-spinner
      [diameter]="spinnerDiameter.HUGE">
    </loading-spinner>
  } @else {
    <sites-view-form></sites-view-form>
    <account-site-contacts
      [siteID]="site.id"
      [items]="contacts$ | async"
      (contactCreated)="contactCreated($event)"
      (contactUpdated)="contactUpdated($event)"
      (contactDeleted)="contactDeleted($event)">
    </account-site-contacts>
  }
</div>
