<div class="table-head">
  <div *ngrxLet="parameters$; let parameters" class="table-row">
    <div class="table-cell admindocuments-title">
      <header-sort [orderBy]="documentSortField.TITLE" [parameters]="parameters" (sortChanged)="sortChanged($event)">
        {{ 'ACCOUNT.ADMIN.DOCUMENTS.ITEMS_HEADER.TEXT_TITLE' | translate }}
      </header-sort>
    </div>
    <div class="table-cell admindocuments-description">
      <header-sort [orderBy]="documentSortField.DESCRIPTION" [parameters]="parameters" (sortChanged)="sortChanged($event)">
        {{ 'ACCOUNT.ADMIN.DOCUMENTS.ITEMS_HEADER.TEXT_DESCRIPTION' | translate }}
      </header-sort>
    </div>
    <div class="table-cell admindocuments-createdat">
      <header-sort [orderBy]="documentSortField.CREATED_AT" [parameters]="parameters" (sortChanged)="sortChanged($event)">
        {{ 'ACCOUNT.ADMIN.DOCUMENTS.ITEMS_HEADER.TEXT_CREATED_AT' | translate }}
      </header-sort>
    </div>
    <div class="table-cell admindocuments-actions">
      {{ 'ACCOUNT.ADMIN.DOCUMENTS.ITEMS_HEADER.TEXT_ACTIONS' | translate }}
    </div>
  </div>
</div>
