<table-container
  *ngrxLet="items$; let items"
  [isLoading]="isLoading$ | async"
  [itemsCount]="items.length">
  <div class="table">
    <assets-items-header></assets-items-header>
    <div class="table-content">
      <div
        *ngFor="let item of items | paginate: {
          id: paginationID$ | async,
          itemsPerPage: perPage$ | async,
          currentPage: currentPage$ | async,
          totalItems: totalItems$ | async
        }; trackByProperty: 'id'"
        [@heightCollapse]
        class="table-content-row">
        <assets-item [item]="item"></assets-item>
      </div>
    </div>
  </div>
</table-container>
<pagination-elements
  *ngIf="hasPagination$ | async"
  [paginationId]="paginationID$ | async"
  (pageChanged)="pageChanged($event)">
</pagination-elements>
