<section
  *ngrxLet="visibleCatalogs$; let catalogs"
  [isNoContent]="!catalogs?.length"
  name="{{ 'ACCOUNT.JOBS.VIEW.TEXT_SORS' | translate }}">
  <span ngProjectAs="section-icon" class="icon icon-list icon-mask icon-mask-dark-blue"></span>
  <div class="jobview-catalogs">
    <div class="table">
      <div class="table-content">
        <jobs-view-sors-item
          *ngFor="let item of catalogs; trackByProperty: 'id'"
          [item]="item">
        </jobs-view-sors-item>
        <a
          *ngIf="hasCollapsing$ | async"
          (click)="toggleCollapseClicked()"
          [ngClass]="{ 'jobview-catalogs-more-opened': !(isCollapsed$ | async) }"
          class="jobview-catalogs-more">
        </a>
      </div>
    </div>
  </div>
</section>
