<div class="form-group">
  @if (label) {
    <label class="form-label">{{ label }}</label>
  }
  <ng-container *ngrxLet="items$; let items">
    <div
      [ngClass]="{ disabled: isDisabled }"
      class="imageuploader multiuploader">
      <div
        [multiple]="true"
        [accept]="acceptingFiles"
        [disabled]="isDisabled"
        [maxFileSize]="maxFileSize"
        (change)="filesSelected($event)"
        class="imageuploader-area multiuploader-area"
        ngx-dropzone></div>
      <div class="multiuploader-content">
        @if (!items.length) {
          <div class="imageuploader-placeholder">
            <span class="imageuploader-icon"></span>
            <span>{{ placeholder || ('SHARED.MEDIA_MULTISELECT.TEXT_PLACEHOLDER' | translate) }}</span>
          </div>
        }
        @if (items.length) {
          <div class="multiuploader-items">
            @for (item of items; track item; let i = $index) {
              <media-multiselect-item
                [item]="item"
                (removeFile)="removeFileClicked(i)">
              </media-multiselect-item>
            }
          </div>
        }
      </div>
    </div>
    <div class="imageuploader-info">
      <span>{{ extensionRequirements }}</span>
      @if (maxFileSize) {
        <span>
          {{ 'SHARED.MEDIA_MULTISELECT.TEXT_MAX_SIZE' | translate: { size: maxFileSize | filesize: fileSizeConfigs } }}
        </span>
      }
    </div>
  </ng-container>
</div>
