<table-container
  *ngrxLet="items$; let items"
  [isLoading]="isLoading$ | async"
  [isLoadingToPage]="isLoadingToPage$ | async"
  [itemsCount]="items.length"
  [hasMoreItems]="hasMoreItems$ | async"
  (loadNextPage)="loadNextPageClicked()">
  <div class="table">
    <documents-items-header></documents-items-header>
    <div class="table-content">
      <documents-item
        *ngFor="let item of items; trackByProperty: 'id'"
        [item]="item"
        [@heightCollapse]>
      </documents-item>
    </div>
  </div>
</table-container>
