<table-container
  *ngrxLet="items$; let items"
  [isLoading]="isLoading$ | async"
  [itemsCount]="items.length">
  <div class="table">
    <documents-items-header></documents-items-header>
    <div class="table-content">
      <documents-item
        *ngFor="let item of items; trackByProperty: 'id'"
        [item]="item"
        [@heightCollapse]>
      </documents-item>
    </div>
    <pagination-elements
      [paginationId]="paginationId$ | async"
      (pageChanged)="pageChanged($event)"
    >
    </pagination-elements>
  </div>
</table-container>
