@if (isTokenChecking$ | async) {
  <loading-spinner></loading-spinner>
} @else {
  <ng-container *ngrxLet="isNewUser$; let isNewUser">
    @if (isInvalidToken$ | async) {
      <div class="reset-message">
        {{ 'PUBLIC.RESET_PASSWORD.TEXT_' + (isNewUser ? 'ADD' : 'RESET') + '_INCORRECT_TOKEN_MESSAGE' | translate }}
      </div>
    } @else {
      <form
        *ngrxLet="formState$; let formState"
        [ngrxFormState]="formState"
        (submit)="formSubmitted()"
        (ngrxFormsAction)="formActionTriggered($event)">
        @if (isSubmittingFailed$ | async) {
          <reset-password-request-error></reset-password-request-error>
        }
        <form-text
          [controlState]="formState.controls.password"
          [validationMessages]="{
            required: 'PUBLIC.RESET_PASSWORD.ERRORS.TEXT_PASSWORD_IS_REQUIRED' | translate,
            minLength: 'PUBLIC.RESET_PASSWORD.ERRORS.TEXT_PASSWORD_MIN_LENGTH' | translate: { min: 8 },
            containDigit: 'PUBLIC.RESET_PASSWORD.ERRORS.TEXT_PASSWORD_MUST_CONTAIN_DIGIT' | translate
          }"
          (controlStateActionTriggered)="formActionTriggered($event)"
          placeholder="{{ 'PUBLIC.RESET_PASSWORD.TEXT_PASSWORD_PLACEHOLDER' | translate }}"
          type="password"
          autocomplete="new-password">
        </form-text>
        <form-text
          [controlState]="formState.controls.confirmPassword"
          [validationMessages]="{
            required: 'PUBLIC.RESET_PASSWORD.ERRORS.TEXT_CONFIRM_PASSWORD_IS_REQUIRED' | translate,
            equalTo: 'PUBLIC.RESET_PASSWORD.ERRORS.TEXT_PASSWORDS_MUST_MATCH' | translate
          }"
          (controlStateActionTriggered)="formActionTriggered($event)"
          placeholder="{{ 'PUBLIC.RESET_PASSWORD.TEXT_CONFIRM_PASSWORD_PLACEHOLDER' | translate }}"
          type="password"
          autocomplete="new-password">
        </form-text>
        <btn
          [isLoading]="isSubmitting$ | async"
          [isBlock]="true"
          type="submit">
          {{ 'PUBLIC.RESET_PASSWORD.BUTTON_' + (isNewUser ? 'ADD' : 'RESET') | translate }}
        </btn>
      </form>
    }
  </ng-container>
}
