<div *ngrxLet="asset$; let asset" class="page assetview">
  <ng-container *ngrxLet="isLoading$; let isLoading">
    <div class="page-header">
      <h2 class="page-title">
        <a (click)="backClicked()" class="link-back">
          <span class="icon icon-back icon-mask icon-mask-dark-blue"></span>
        </a>
        {{ 'ACCOUNT.ASSETS.VIEW.TEXT_PAGE_TITLE' | translate }} {{ asset?.assetID }}
      </h2>
    </div>
    <ng-container *ngIf="!isLoading; else loading">
      <account-assets-view-info [asset]="asset"></account-assets-view-info>
      <div class="row">
        <div class="col col-50">
          <account-assets-view-custom-fields [items]="asset.customFields"></account-assets-view-custom-fields>
        </div>
        <div class="col col-50">
          <account-assets-view-attachments [items]="asset.attachments"></account-assets-view-attachments>
        </div>
      </div>
      <account-asset-tests [items]="asset.testRecords"></account-asset-tests>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <loading-spinner [diameter]="spinnerDiameter.HUGE"></loading-spinner>
  </ng-template>
</div>
