<div
  *ngrxLet="isRecoveryEmailSent$; let isRecoveryEmailSent"
  [ngClass]="{ 'forgot-message-sent': isRecoveryEmailSent }"
  class="forgot-message">
  @if (isRecoveryEmailSent) {
    <div>{{ 'PUBLIC.FORGOT_PASSWORD.TEXT_SENT_MESSAGE_1' | translate }}</div>
    <div>{{ 'PUBLIC.FORGOT_PASSWORD.TEXT_SENT_MESSAGE_2' | translate }}</div>
  } @else {
    <div>{{ 'PUBLIC.FORGOT_PASSWORD.TEXT_MESSAGE_1' | translate }}</div>
    <div>{{ 'PUBLIC.FORGOT_PASSWORD.TEXT_MESSAGE_2' | translate }}</div>
  }
</div>
