<div
  *ngrxLet="isRecoveryEmailSent$; let isRecoveryEmailSent"
  [ngClass]="{ 'forgot-message-sent': isRecoveryEmailSent }"
  class="forgot-message">
  <ng-container *ngIf="isRecoveryEmailSent; else default">
    <div>{{ 'PUBLIC.FORGOT_PASSWORD.TEXT_SENT_MESSAGE_1' | translate }}</div>
    <div>{{ 'PUBLIC.FORGOT_PASSWORD.TEXT_SENT_MESSAGE_2' | translate }}</div>
  </ng-container>
  <ng-template #default>
    <div>{{ 'PUBLIC.FORGOT_PASSWORD.TEXT_MESSAGE_1' | translate }}</div>
    <div>{{ 'PUBLIC.FORGOT_PASSWORD.TEXT_MESSAGE_2' | translate }}</div>
  </ng-template>
</div>
