<div class="table-row">
  <div class="table-cell admindocuments-title">{{ item.title }}</div>
  <div class="table-cell admindocuments-description">
    {{ item.description }}
  </div>
  <div class="table-cell admindocuments-createdat">
    {{ item.createdAt | date: dateFormat }}
  </div>
  <div class="table-cell admindocuments-actions">
    @if (!(isSendingRequest$ | async)) {
      <a
        (click)="viewMediaClicked()"
        class="table-action table-action-info"
        >{{ 'ACCOUNT.ADMIN.DOCUMENTS.LINK_VIEW' | translate }}</a
      >
      <a
        (click)="downloadMediaClicked()"
        class="table-action"
        >{{ 'ACCOUNT.ADMIN.DOCUMENTS.LINK_DOWNLOAD' | translate }}</a
      >
      <a
        (click)="deleteButtonClicked()"
        class="table-action table-action-caution">
        {{ 'ACCOUNT.ADMIN.DOCUMENTS.LINK_DELETE' | translate }}
      </a>
    } @else {
      <loading-spinner [diameter]="spinnerDiameter.SMALL"></loading-spinner>
    }
  </div>
</div>
