:host ::ng-deep .admindocuments {
  &-title {flex: 1 1 160px; min-width: 160px;}
  &-description {flex: 1 1 200px; min-width: 200px;}
  &-createdat {flex: 0 0 140px; min-width: 140px;}
  &-actions {flex: 0 0 170px; min-width: 170px;}
  .table-cell .loading-spinner {margin: 0 auto;}
  account-admin-documents-item {display: block;}
}
