<div class="jobs-filters">
  <div class="filters">
    <form
      *ngrxLet="filterFormState$; let filterFormState"
      [ngrxFormState]="filterFormState"
      (ngrxFormActions)="formActionTriggered($event)"
      class="form">
      <filter-select-text
        [controlState]="filterFormState.controls.jobID"
        [min]="1"
        (controlStateActionTriggered)="formActionTriggered($event)"
        type="number"
        name="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_ID' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.orderNo"
        [min]="1"
        (controlStateActionTriggered)="formActionTriggered($event)"
        type="number"
        name="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_ORDER_NO' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.siteUprn"
        [min]="1"
        (controlStateActionTriggered)="formActionTriggered($event)"
        type="number"
        name="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_SITE_UPRN' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.siteName"
        [min]="1"
        (controlStateActionTriggered)="formActionTriggered($event)"
        type="number"
        name="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_SITE_NAME' | translate }}">
      </filter-select-text>
      <filter-select-text
        [controlState]="filterFormState.controls.postalCode"
        (controlStateActionTriggered)="formActionTriggered($event)"
        name="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_POSTCODE' | translate }}">
      </filter-select-text>
      <account-cost-center-multiselect
        [controlState]="filterFormState.controls.costCenterName"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_COST_CENTRE' | translate }}">
      </account-cost-center-multiselect>
      <account-job-stage-multiselect
        [controlState]="filterFormState.controls.stage"
        [isPermanentlyShowPlaceholder]="true"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_STAGE' | translate }}">
      </account-job-stage-multiselect>
      <form-datepicker
        [controlState]="filterFormState.controls.appointmentFrom"
        [dateFilter]="getStartAppointmentDateFilter$ | async"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_APPOINTMENT_FROM' | translate }}">
      </form-datepicker>
      <form-datepicker
        [controlState]="filterFormState.controls.appointmentTo"
        [dateFilter]="getEndAppointmentDateFilter$ | async"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_APPOINTMENT_TO' | translate }}">
      </form-datepicker>
      <form-timepicker
        [controlState]="filterFormState.controls.startTimeFrom"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_SCHEDULED_AFTER' | translate }}">
      </form-timepicker>
      <form-timepicker
        [controlState]="filterFormState.controls.startTimeTo"
        (controlStateActionTriggered)="formActionTriggered($event)"
        placeholder="{{ 'ACCOUNT.JOBS.FILTERS.TEXT_SCHEDULED_BEFORE' | translate }}">
      </form-timepicker>
    </form>
  </div>
  <filter-values
    [items]="filterValues$ | async"
    (filterRemoved)="removeFilterClicked($event)">
  </filter-values>
</div>
