<table-container
  *ngrxLet="items$; let items"
  [isLoading]="isLoading$ | async"
  [isLoadingToPage]="isLoadingToPage$ | async"
  [itemsCount]="items.length"
  [hasMoreItems]="hasMoreItems$ | async">
  <div class="table">
    <account-sites-items-header></account-sites-items-header>
    <div class="table-content">
      <account-sites-item
        *ngFor="let item of items; trackByProperty: 'id'"
        [item]="item"
        [@heightCollapse]>
      </account-sites-item>
    </div>
  </div>
</table-container>
