:host ::ng-deep .sitecontacts {
  &-title {flex: 0 0 60px; min-width: 60px;}
  &-name {flex: 1 1 180px; min-width: 180px;}
  &-email {flex: 0 0 180px; min-width: 180px;}
  &-phone {flex: 0 0 150px; min-width: 150px;}
  &-mobile {flex: 0 0 150px; min-width: 150px;}
  &-position {flex: 0 0 150px; min-width: 150px;}
  &-actions {flex: 0 0 100px; min-width: 100px;}
  .table-nothing {margin: 80px auto 50px;}
}
